<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{$conf.title} - 关于博主</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="msapplication-TileImage" content="__PUBLIC__index/assets/i/logo.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="__PUBLIC__index/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__index/assets/css/app.css">
  <link href="__PUBLIC__index/img/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="__PUBLIC__index/my/my.css">
</head>

<body id="blog-article-sidebar">

<!-- nav start -->
{include file="public/nav"}

<!-- nav end -->

<!-- content srart -->
<div class="am-g am-g-fixed blog-fixed blog-content my-div1">
    <div class="am-u-sm-12 my-div1-div1">
        <h1 class="blog-text-center" style="margin-top:20px;">-- 关于博主 --</h1>
        	<ul>
        		<li>
        			<strong>姓名：&nbsp;&nbsp;</strong>{$about.name}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        		<strong>性别：&nbsp;&nbsp;</strong>{$about.sex}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        		<strong>生年：&nbsp;&nbsp;</strong>{$about.birthDate}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        		<strong>籍貫：&nbsp;&nbsp;</strong>{$about.address}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	</li>
        		<li>
        			<strong>邮箱：&nbsp;&nbsp;</strong>{$about.email}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	</li>
        		<li>
        			<strong>Q Q： &nbsp;&nbsp;</strong>{$about.qq}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	</li>
        		<li>
        			<strong>微信：&nbsp;&nbsp;</strong>{$about.weixin}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	</li>
        		<li>
        			<strong>微博：&nbsp;&nbsp;</strong>{$about.weibo}　　　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	        	</li>
        	</ul>
        	<ul>
        		<li>
        			<strong>人生物語：&nbsp;&nbsp;</strong><br>
       				{volist name="$about['lifeSentence']" id="alife"}
						<p class="p-key">{$key + 1}、{$alife} </p>
					{/volist}
	        	</li>
        		<li>
        			<strong>专业技能：&nbsp;&nbsp;</strong><br>
						<p class="p-key">{$about.skill} </p><p><br/></p>
	        	</li>
        	</ul>
        <hr>
    </div>
    <div class="my-div1-div2">
		<div class="div2-div1">
  			<div><a class="div-name-a" href="home">Babysbreath</a></div>
		</div>

	    <div class="blog-sidebar-widget blog-bor div2-div2">
	        <h2 class="blog-text-center blog-title"><span>联系博主</span></h2>
            {if condition="$about['picture'] neq null"}
            	<img src="__PUBLIC__{$about.picture}" alt="about me" class="blog-entry-img" >
            {/if}
	        <p>
	            <a href="javascript:;" ><span class="am-icon-qq am-icon-fw am-primary blog-icon"></span></a>
	            <a href="javascript:;" ><span class="am-icon-github am-icon-fw blog-icon"></span></a>
	            <a href="javascript:;" ><span class="am-icon-weibo am-icon-fw blog-icon"></span></a>
	            <a href="javascript:;" ><span class="am-icon-reddit am-icon-fw blog-icon"></span></a>
	            <a href="javascript:;" ><span class="am-icon-weixin am-icon-fw blog-icon"></span></a>
	        </p>
	    </div>

        <div class="blog-sidebar-widget blog-bor">
            <h2 class="blog-title"><span>最新留言</span></h2>
            <ul class="am-list">
            	{volist name="message" id="m"}
               		<li style="height: 100px;"><a href="mood"><?php echo mb_strlen($m['messageContent'],'utf-8') > 17 ? mb_substr($m['messageContent'],'0','17','utf-8').'...' : $m['messageContent']; ?></a>
               			<p class="msg-li-p">　留言人：{$m.userName}</p>
               			<p class="msg-li-p">　留言时间：{$m.addTime}</p>
               		</li>
                {/volist}
            </ul>
        </div>
    </div>
</div>
<!-- content end -->

{include file="Public/footer"}

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="__PUBLIC__index/assets/js/jquery.min.js"></script>
<!--<![endif]-->
<!--[if lte IE 8 ]>
<script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="__PUBLIC__index/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->
<script src="__PUBLIC__index/assets/js/amazeui.min.js"></script>
<!-- <script src="__PUBLIC__index/assets/js/app.js"></script> -->
</body>
</html>