<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>文章 - Babysbreath博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__admin/images/icon/icon.png">
<link rel="shortcut icon" href="__PUBLIC__admin/images/icon/favicon.ico">
<script src="__PUBLIC__admin/js/jquery-2.1.4.min.js"></script>
</head>

<body class="user-select">
<section class="container-fluid">
  {include file="Public/header"}
  <div class="row">
  {include file="Public/aside"}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <form action="" method="" >
        <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
          <li>
          	<a href="{:url('add/addMood')}">新心情</a>
          </li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">{$Request.session.mCount}</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th width="100px"><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">选择</span></th>
                <th><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">标题</span></th>
                <th width="220px"><span class="glyphicon glyphicon-file"></span> <span class="visible-lg">图片</span></th>
                <th width="200px"><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">日期</span></th>
                <th width="200px"><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
            	{volist name="mood" id="m"}
	              <tr height = '87px' id="mid_{$m.moodId}">
	                <td><input type="checkbox" class="input-control" name="checkbox[]" value="{$m.moodId}" />{$m.moodId}</td>
	                <td class="article-title"><a id="seemood" href="javascript:;" onClick="seemood({$m.moodId})">{$m.moodTitle}</a></td>
	                <td>
	                {if condition="$m['moodPic'] neq ''"}
	                <img height="70px" src="__PUBLIC__/{$m.moodPic}" title="{$m.moodTitle}"/>
	                {else /}
	                		未上传图片
	                {/if}
	                </td>
	                <td>{$m.addTime}</td>
                	<td><a id="seemood" href="javascript:;" onClick="seemood({$m.moodId})">
                		<i class="fa fa-eye"></i> 查看　</a>
	                	<a href="javascript:;" onclick="delmood({$m.moodId})">
	                	<i class="fa fa-trash-o"></i> 删除　</a>
	                </td>
	              </tr>
              	{/volist}
	              <tr height="80px" style="background: #eee;"><td colspan='8'><div class="pagelist">{$mood->render()}</div></td></tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</section><div class="modal fade" id="mood" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 1000px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="myModalLabel">
					查看心情
				</h4>
			</div>
			<div class="modal-body" id='moodBody'>
	          <table class="table table-striped table-hover" style="margin-bottom:0;">
	            <tbody>
	              <tr>
	                <td>标题:</td>
	                <td class="article-title" id="moodtitle"></td>
	              </tr>
	              <tr>
	                <td>图片:</td>
	                <td class="article-title" id="moodpic"><img width="400px" src="" id="pic"></td>
	              </tr>
	              <tr>
	                <td width="100px">心情:</td>
	                <td class="article-title"><p id="moodcontent" style="background-color:#fff;padding: 10px;"></p></td>
	              </tr>
	              <tr style="    border-bottom: 1px solid #ddd;">
	                <td>日　　期:</td>
	                <td class="article-title" id="addtime"></td>
	              </tr>
	            </tbody>
	          </table>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default"
						data-dismiss="modal">关闭
				</button>
<!-- 				<button type="button" class="btn btn-primary">
					提交更改
				</button> -->
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->


<div class="modal fade" id="delmood" tabindex="-1" role="dialog" aria-labelledby="moodModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="closeX" data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="moodModalLabel">

				</h4>
			</div>
			<div class="modal-body" id='delMoodBody'>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="close" data-dismiss="modal" >关闭 </button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--个人信息模态框-->
  {include file="Public/info"}
<!--个人登录记录模态框-->
  {include file="Public/loginRecord"}
<!--微信二维码模态框-->
  {include file="Public/wechat"}
<!--提示模态框-->
  {include file="Public/prompt"}
<script src="__PUBLIC__admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__admin/js/admin-scripts.js"></script>
<script>
function seemood(mId){
	if(mId != null){
		$.post('__URL__/seemood',{'moodId':mId},function(data){
			var d = JSON.parse(data);
			if(d.code == 1){
				$('#moodtitle').html(d.data.moodTitle);
				if(d.data.moodPic != null){
					$('#pic').attr('src',"__PUBLIC__" + d.data.moodPic);
				}else{
					$('#pic').remove();
					$('#moodpic').html('无图片');
				}
				$('#moodcontent').html(d.data.moodContent);
				$('#addtime').html(d.data.addTime);
				$('#mood').modal('show');
			}else{
				$('#moodtitle').remove();
				$('#moodpic').remove();
				$('#moodcontent').remove();
				$('#addtime').remove();
				$('#moodBody').html(d.message);
				$('#mood').modal('show');
			}
		});
	    return false;
	}
}
function delmood(mId){
	var c = confirm("确定要删除此心情吗?");
	if(c == true){
		//老师说：在用异步请求（__URL__/delArticle）的时候先用同步（http://localhost/……）请求，异步请求报错只会报服务器的错误，，找不到错误
		$.post('__URL__/delmood',{'moodId':mId},function(data){
			var d = JSON.parse(data);
			if(d.code == 1){
				$('#moodModalLabel').html('删除心情');
				$('#delMoodBody').html(d.message);
				$('#delmood').modal('show');
				$('#mid_'+mId).remove();
			}else{
				$('#moodModalLabel').html('删除心情');
				$('#delMoodBody').html(d.message);
				$('#delmood').modal('show');
			}
		});
	    return false;
	}
}
</script>


<script>
function loginInfo(aid){
	$.get('__URL__/info',{'adminId':aid},function(data){
		var d = JSON.parse(data);
		document.getElementById('adminId').value = aid;
		document.getElementById('adminName').value = d.adminName;
		document.getElementById('loginName').value = d.loginName;
		document.getElementById('infoContactNumber').value = d.contactNumber;
	});
}

function submitInfo(){
	var aAdmId = $('#adminId').val();
	var aAdmName = $('#adminName').val();
	var aLogName = $('#loginName').val();
	var aCttNum = $('#infoContactNumber').val();
	var aAdmPwd = $('#oldPassword').val();
	var aLogPwd = $('#loginPassword').val();
	var aNewPwd = $('#newPassword').val();

	var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
	//电话
	var phone = $.trim(aCttNum);
	if (!phoneReg.test(phone)) {
	  alert('请输入有效的手机号码！');
	  return false;
	}

	if(aAdmPwd != '' && aLogPwd != '' && aNewPwd != '' && aLogPwd == aNewPwd){
		$.post('__URL__/info',{'adminId':aAdmId,'adminName':aAdmName,'loginName':aLogName,'contactNumber':aCttNum,'oldPassword':aAdmPwd,'loginPassword':aLogPwd,'newPassword':aNewPwd},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#adminModalLabel').html('信息提示');
				$('#upAdminBody').html(d.message);
				$('#upadmin').modal('show');
				$('#seeUserInfo').modal('hide');
				setTimeout('location.href = "{:url(\'admin/Login/login\')}";',2000);
			}
		});
	}else if(aAdmPwd == '' || aLogPwd == '' && aNewPwd == ''){
		$.post('__URL__/info',{'adminId':aAdmId,'adminName':aAdmName,'loginName':aLogName,'contactNumber':aCttNum,'oldPassword':0,'loginPassword':0,'newPassword':0},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#adminModalLabel').html('信息提示');
				$('#upAdminBody').html(d.message);
				$('#upadmin').modal('show');
				$('#seeUserInfo').modal('hide');
				setTimeout('location.href = "{:url(\'admin/Login/login\')}";',2000);
			}
		});
	}else{
   	  alert('密码错误!');
   	  return false;
	}
}
</script>
</body>
</html>
