<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title></title>
<link rel="stylesheet" href="__PUBLIC__index/comment/comment.css" type="text/css" />
<script src="__PUBLIC__index/assets/js/jquery.min.js"></script>
<style>
	#art{
	    *width: 1200px;
	    margin-bottom: 50px;
		margin:0 auto;
	}
	#my-art{
		margin-left:0;
		margin-right:0;
	}
	#p-bottom{
		margin:5px;
	}
	#ator{
	    margin-left: -50px;
    	margin-bottom: 10px;
	}
	#bigdiv{
		*width:1200px;
		margin:0 auto;
		background:#fff;
		padding:15px;
		*margin-top:120px;
		box-shadow:0 4px 15px -3px #ccc;
		border-radius:10px;
		border-top:2px solid #86d1ef;
	}
	#articleContent{
		margin-bottom:0;
	}
	#p-bottom{
		font:14px "微软雅黑", Arial, Helvetica, sans-serif;
	}
	.am-icon-heart{
		transition:color .5s linear;
		cursor:pointer;
	}
	.am-icon-heart:hover{
		color:#ef6464
	}
	.redheart{
		color:#ef6464;
	}
	.big{
		margin-top:-30px;
	}
</style>
</head>

<body>
<div class="big">
	<div class="top">
		<div class="woyao">文章评论</div>
	</div>
    <form action="" method="post" id="form">
       <div class="bottom">

       		<!-- if判断是否登录  -->
			{if condition="session('userId') !== null"}
	            <div class="area">
	                <textarea class="textarea" name="commentContent" id="commentContent" required="required" placeholder=" 来说两句吧 . . ."></textarea>
	                <div></div>
	            </div>
	            <input type="hidden" id="aid" value="{$aid}" />
	            <input type="button" id="submit" class="submit" value="提交" />

	       	{else /}

	            <div onclick="alert('请先登录再进行评论!');">
		            <div class="area">
		                <textarea class="textarea" disabled="disabled" placeholder=" 来说两句吧 . . ."></textarea>
		            </div>
	                <input type="button" class="submit" value="提交" />
	           	</div>
	       	{/if}

        </div>
    </form>
   	<script>
   	$(function(){
   		$('#submit').click(function(){
   			var aid     = $('#aid').val();
			var content = $('#commentContent').val();
			$.post('__URL__/article',{'commentContent' : content,'aid' : aid},function(info){
				var d = JSON.parse(info);
				if(d.code == 1){
					$('#commentContent').val('');
				}else{

				}
			});
   		});
   	})
   	</script>
</div>

<div id="art">
	<article class="am-g blog-entry-article" id='my-art'>
		<ins id="ins"></ins>
		{volist name="comment" id="c"}
		    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img" style="width:98.3%;padding:10px;padding-left:70px;border-bottom:1px dashed #e5e5e5;margin:0 10px;"">
		    	<p id="ator">{$c.userName}</p>
				<img alt="" src="__PUBLIC__index/images/headIMG.jpg" style="margin-left: -50px; position: absolute;">
		        <p id='p-commentContent'>{$c.commentContent}</p>
			    <div style="width:45%;color:#888;font-size: 14px;float:right;" class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text" id='div-p-content'>
			        <p id='articleContent'><time id="time">{$c.addTime}　</time>
			        	<span>
			        		{if condition="$c['praiseStatus'] eq 1"}
			        			<i class='am-icon-heart redheart' id="heart_{$c.commentId}" onclick="praise({$Request.session.userId} + 0,{$c.commentId})"> </i>
			        		{else /}
			        			<i class='am-icon-heart' style="color:#888" id="heart_{$c.commentId}" onclick="praise({$Request.session.userId} + 0,{$c.commentId})"> </i>
			        		{/if}
			        		<num id="num_{$c.commentId}">{$c.praise}</num>
			        	</span>
			        </p>
			    </div>
		    </div>
	    {/volist}
	</article>
</div>

   	<script>
   	$(function(){
   		$('#submit').click(function(){
			var content = $('#commentContent').val();
			var art = document.getElementById('ins');
			if(content !== ''){
				$.post("{:url('comment/add')}",{'commentContent' : content},function(info){
					var d = JSON.parse(info);
					if(d.code == 1){
						var msgHTML = "<div class='am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img' style='width:98.3%;padding:2rem 10px 10px 70px;border-bottom:1px dashed #e5e5e5;margin:0 10px;'> <p id='ator'>" + d.cid.userName + "</p><img alt='' src='__PUBLIC__index/images/headIMG.jpg' style='margin-left: -50px; position: absolute;'> <p id='p-commentContent'>" + d.data.commentContent + "</p> <div style='width:45%;color:#888;font-size: 14px;float:right;' class='am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text' id='div-p-content'> <p id='articleContent'><time id='time'>" + d.cid.addTime + "　</time> <span><i class='am-icon-heart' id='heart_" + d.cid.commentId + "' onclick='praise(" + d.data.commentAtor + " + 0," + d.cid.commentId + ")'></i>&nbsp;<num id='num_" + d.cid.commentId + "'>0</num></span> </p> </div> </div>";
						//art.innerHTML += msgHTML;
						art.insertAdjacentHTML("afterEnd",msgHTML);
						$('#commentContent').val('');
					}else{

					}
				});
			}
   		});
   	})
   	</script>

<script>
				 //点赞的用户,评论id
	function praise( pUser , cid ){
		if(pUser !== 0){
			$.post("{:url('comment/Praise')}",{'puser' : pUser, 'cid' : cid},function(info){
				var I = JSON.parse(info);
				var pnm = I.pnum;
		        if( I.code == 1 ) {
			        $( "#num_" + cid ).html( pnm );
			    	$( '#heart_' + cid ).css( "color" , "#ef6464" )

		        } else if( I.code == 0 ) {
			        $( "#num_" + cid ).html( pnm );
			    	$( '#heart_' + cid ).css( "color" , "#888888" )
		        }
			});
		}else{
			alert("需要登录后才可以点赞哦！");
		}
	}
</script>
</body>

</html>
