<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>常规设置 - Babysbreath博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/style.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/beyond.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/font-awesome.min.css">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__admin/images/icon/icon.png">
<link rel="shortcut icon" href="__PUBLIC__admin/images/icon/favicon.ico">
<script src="__PUBLIC__admin/js/jquery-2.1.4.min.js"></script>
<!--[if gte IE 9]>
  <script src="__PUBLIC__admin/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__admin/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__admin/js/respond.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__admin/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
<style>
	.checkbox{
	width: 219px;
    float: left;
    margin: 0 5px 0 5px;
    height: 80px;
	text-align:center;
	}
</style>
</head>

<body class="user-select">
<section class="container-fluid">
  {include file="Public/header"}
  <div class="row">
  {include file="Public/aside"}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
      <div class="row">
        <form action="{:url('Setting/setting')}" method="post" enctype="multipart/form-data">
          <div class="col-md-9">
            <h1 class="page-header">网站设置</h1>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>站点标题</span></h2>
              <div class="add-article-box-content">
                <input type="text" name="title" class="form-control" placeholder="请输入站点标题" required autofocus autocomplete="off" value="{$conf.title}" />
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>网站负责人信息</span></h2>
              <div class="add-article-box-content" style="    height: 55px;">
                <input type="text" name="name" style="width:49%;float:left;" value="{$conf.name}" class="form-control" placeholder="请输入网站负责人名称" autocomplete="off" title="网站负责人名称"  />

                <input type="text" name="mobile" style="width:49%;float:right;" value="{$conf.mobile}" class="form-control" placeholder="请输入网站负责人电话号码" title="网站负责人电话号码" autocomplete="off" />
                <!-- <span class="prompt-text">用简洁的文字描述本站点。</span>  -->
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>站点地址（URL）</span></h2>
              <div class="add-article-box-content">
                <input type="text" name="url" value="{$conf.url}" class="form-control" placeholder="在此处输入站点地址（URL）" required autocomplete="off">
              </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>站点关键字</span></h2>
              <div class="add-article-box-content">
                <textarea class="form-control" name="keywords" autocomplete="off">{$conf.keywords}</textarea>
                <span class="prompt-text">关键字会出现在网页的keywords属性中。</span> </div>
            </div>
            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>站点描述</span></h2>
              <div class="add-article-box-content">
                <textarea class="form-control" name="description" rows="4" autocomplete="off">{$conf.description}</textarea>
                <span class="prompt-text">描述会出现在网页的description属性中。</span> </div>
            </div>

            <div class="add-article-box checkbox" style="margin-top:-5px;">
              <h2 class="add-article-box-title"><span>是否允许评论</span></h2>
              <div class="add-article-box-content">
               	<label>

                	<input type="checkbox" name="comment" class="checkbox-slider slider-icon colored-blue status" value="1" {if condition="$conf['comment'] eq 1"} checked {/if}/>

                     <span class="text" id="slider" onclick=''></span>
               	</label>
              </div>
            </div>

            <div class="add-article-box checkbox">
              <h2 class="add-article-box-title"><span>是否允许留言</span></h2>
              <div class="add-article-box-content">
               	<label>

	                <input type="checkbox" name="message" class="checkbox-slider slider-icon colored-blue status" value="1" {if condition="$conf['message'] eq 1"} checked {/if}/>

	                <span class="text" id="slider" onclick=''></span>
                </label>
             </div>
            </div>

            <div class="add-article-box checkbox">
              <h2 class="add-article-box-title"><span>是否关闭网站</span></h2>
              <div class="add-article-box-content">
               	<label>

	                <input type="checkbox" name="close" class="checkbox-slider slider-icon colored-blue status" value="1" {if condition="$conf['close'] eq 1"} checked {/if}/>

	                <span class="text" id="slider" onclick=''></span>
                </label>
              </div>
            </div>

            <div class="add-article-box checkbox">
              <h2 class="add-article-box-title"><span>是否启用验证码</span></h2>
              <div class="add-article-box-content">
               	<label>

	                <input type="checkbox" name="code" class="checkbox-slider slider-icon colored-blue status" value="1" {if condition="$conf['code'] eq 1"} checked {/if}/>

	                <span class="text" id="slider" onclick=''></span>
                </label>
              </div>
            </div>

<!--             <div class="add-article-box checkbox">
              <h2 class="add-article-box-title"><span>是否可以上传图片</span></h2>
              <div class="add-article-box-content">
               	<label>

	                <input type="checkbox" name="uploadPic" class="checkbox-slider slider-icon colored-blue status" value="1" {if condition="$conf['uploadPic'] eq 1"} checked {/if}/>

	                <span class="text" id="slider" onclick=''></span>
                </label>
              </div>
            </div> -->
          </div>

          <div class="col-md-3">
            <h1 class="page-header">站点</h1>

            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>logo</span></h2>
              <div class="add-article-box-content" id="imgDiv">
              	<input type="file" id="add-img" name="logo" />
              	{if condition="$conf['logo'] neq null"}
              		<img src="__PUBLIC__{$conf.logo}" title="logo" width="340px" />
              	{/if}
              </div>
            </div>

            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>自动清除缓存</span></h2>
              <div class="add-article-box-content">
              	<select name="cache" >
              		<option value="0">暂不清除</option>
              		<option value="1">1</option>
              		<option value="2">2</option>
              		<option value="3">3</option>
              		<option value="4">4</option>
              		<option value="5">5</option>
              	</select>
              </div>
            </div>

            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>电子邮件地址</span></h2>
              <div class="add-article-box-content">
                <input type="email" name="email" class="form-control" value="{$conf.email}" placeholder="在此处输入邮箱" autocomplete="off" />
                <span class="prompt-text">这个电子邮件地址仅为了管理方便而填写</span> </div>
            </div>

            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>ICP备案号</span></h2>
              <div class="add-article-box-content">
                <input type="text" name="beian" class="form-control" value="{$conf.beian}" placeholder="在此处输入备案号" autocomplete="off" />
              </div>
            </div>

            <div class="add-article-box">
              <h2 class="add-article-box-title"><span>登录超时</span></h2>
              <div class="add-article-box-content">
                <input type="text" name="logOverTime" class="form-control" value="{$conf.logOverTime}" placeholder="在此处输入超时时间(s)" value="3600" required autocomplete="off" />
                <span class="prompt-text">单位(秒),超时将强制退出</span> </div>
            </div>
            <button class="btn btn-primary" type="submit" style="float:right;">更新</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
<!--个人信息模态框-->
  {include file="Public/info"}
<!--个人登录记录模态框-->
  {include file="Public/loginRecord"}
<!--微信二维码模态框-->
  {include file="Public/wechat"}
<!--提示模态框-->
  {include file="Public/prompt"}
<script src="__PUBLIC__admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__admin/js/admin-scripts.js"></script>
<script>
function loginInfo(aid){
	$.get('__URL__/info',{'adminId':aid},function(data){
		var d = JSON.parse(data);
		document.getElementById('adminId').value = aid;
		document.getElementById('adminName').value = d.adminName;
		document.getElementById('loginName').value = d.loginName;
		document.getElementById('infoContactNumber').value = d.contactNumber;
	});
}

function submitInfo(){
	var aAdmId = $('#adminId').val();
	var aAdmName = $('#adminName').val();
	var aLogName = $('#loginName').val();
	var aCttNum = $('#infoContactNumber').val();
	var aAdmPwd = $('#oldPassword').val();
	var aLogPwd = $('#loginPassword').val();
	var aNewPwd = $('#newPassword').val();

	var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
	//电话
	var phone = $.trim(aCttNum);
	if (!phoneReg.test(phone)) {
	  alert('请输入有效的手机号码！');
	  return false;
	}

	if(aAdmPwd != '' && aLogPwd != '' && aNewPwd != '' && aLogPwd == aNewPwd){
		$.post('__URL__/info',{'adminId':aAdmId,'adminName':aAdmName,'loginName':aLogName,'contactNumber':aCttNum,'oldPassword':aAdmPwd,'loginPassword':aLogPwd,'newPassword':aNewPwd},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#adminModalLabel').html('信息提示');
				$('#upAdminBody').html(d.message);
				$('#upadmin').modal('show');
				$('#seeUserInfo').modal('hide');
				setTimeout('location.href = "{:url(\'admin/Login/login\')}";',2000);
			}
		});
	}else if(aAdmPwd == '' || aLogPwd == '' && aNewPwd == ''){
		$.post('__URL__/info',{'adminId':aAdmId,'adminName':aAdmName,'loginName':aLogName,'contactNumber':aCttNum,'oldPassword':0,'loginPassword':0,'newPassword':0},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#adminModalLabel').html('信息提示');
				$('#upAdminBody').html(d.message);
				$('#upadmin').modal('show');
				$('#seeUserInfo').modal('hide');
				setTimeout('location.href = "{:url(\'admin/Login/login\')}";',2000);
			}
		});
	}else{
   	  alert('密码错误!');
   	  return false;
	}
}
</script>
</body>
</html>