<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{$conf.title} - 博客公告</title>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__index/mood/lib/cntl.css">
  <link rel="stylesheet" href="__PUBLIC__index/assets/css/amazeui.min.css">
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="msapplication-TileImage" content="__PUBLIC__index/assets/i/logo.png">
  <link rel="icon" sizes="192x192" href="__PUBLIC__index/assets/i/logo.png">
  <link rel="icon" type="image/png" href="__PUBLIC__index/assets/i/logo.png">
  <link rel="stylesheet" href="__PUBLIC__index/assets/css/app.css">
  <link href="__PUBLIC__index/img/bootstrap.min.css" rel="stylesheet">
  <link href="__PUBLIC__index/img/font-awesome.min.css" rel="stylesheet">

</head>
<body>
{include file="public/nav"}
<div class="jq22-container" style="margin-top:102px;">
	<div class="cntl">
		<span class="cntl-bar cntl-center">
			<span class="cntl-bar-fill"></span>
		</span>
		<div class="cntl-states">
			{volist name="notice" id="n"}
				<div class="cntl-state">
					<div class="cntl-content" style="box-shadow: 0 5px 15px -4px #9e9e9e;    background: #fff;">
						<h4>{$n.noticeTitle}</h4>
						<p>{$n.noticeContent}</p>
						<p style="float:right;font-style: oblique;">时间：{$n.addTime}</p>
					</div>
					<div class="cntl-icon cntl-center">{$n.day}</div>
				</div>
			{/volist}
		</div>
	</div>

</div>

<script src="http://www.jq22.com/jquery/jquery-1.10.2.js"></script>
<script src="__PUBLIC__index/assets/js/amazeui.min.js"></script>
<script type="text/javascript" src="__PUBLIC__index/mood/lib/jquery.cntl.js"></script>
<script type="text/javascript">
	$(document).ready(function(e){
		$('.cntl').cntl({
			revealbefore: 200,
			anim_class: 'cntl-animate',
			onreveal: function(e){
				console.log(e);
			}
		});
	});
</script>
</body>
</html>