<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="__PUBLIC__index/comment/comment.css" type="text/css" />
<script src="__PUBLIC__index/assets/js/jquery.min.js"></script>
<style>
	.big{
		margin-top:-30px;
		*margin-top: 120px;
	    *width: 1200px;
	    *margin-bottom: 30px;
	}
</style>
</head>

<body>
<div class="big">
	<div class="top">
		<div class="woyao">我要留言</div>
	</div>
    <form action="" method="post" id="form">
       <div class="bottom">

       		<!-- if判断是否登录  -->
			{if condition="session('userId') !== null"}
	            <div class="area">
	                <textarea class="textarea" name="messageContent" id="messageContent" required="required" placeholder=" 来说两句吧 . . ."></textarea>
	                <div></div>
	            </div>
	            <input type="button" id="submit" class="submit" value="提交" />

	       	{else /}

	            <div onclick="alert('请先登录再进行留言!');">
		            <div class="area">
		                <textarea class="textarea" disabled="disabled" placeholder=" 来说两句吧 . . ."></textarea>
		            </div>
	                <input type="button" class="submit" value="提交" />
	           	</div>
	       	{/if}

        </div>
    </form>
</div>
</body>

</html>
