<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>{$conf.title} - 博客留言</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="icon" type="image/png" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="icon" sizes="192x192" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
  <link rel="apple-touch-icon-precomposed" href="__PUBLIC__index/assets/i/logo.png">
  <meta name="msapplication-TileImage" content="__PUBLIC__index/assets/i/logo.png">
  <meta name="msapplication-TileColor" content="#0e90d2">
  <link rel="stylesheet" href="__PUBLIC__index/assets/css/amazeui.min.css">
  <link rel="stylesheet" href="__PUBLIC__index/assets/css/app.css">
  <link href="__PUBLIC__index/img/font-awesome.min.css" rel="stylesheet">
<style>
	#art{
	    *width: 1200px;
	    margin-bottom: 50px;
		margin:0 auto;
	}
	#my-art{
		margin-left:0;
	}
	#p-bottom{
		margin:5px;
	}
	#ator{
	    margin-left: -50px;
    	margin-bottom: 10px;
	}
	#bigdiv{
		width:1200px;
		margin:0 auto;
		background:#fff;
		padding:15px;
		margin-top:120px;
		box-shadow:0 4px 15px -3px #ccc;
		border-radius:10px;
		border-top:2px solid #86d1ef;
	}
	#articleContent{
		margin-bottom:0;
	}
	#p-bottom{
		font:14px "微软雅黑", Arial, Helvetica, sans-serif;
	}
	.am-icon-heart{
		transition:color .5s linear;
		cursor:pointer;
	}
	.am-icon-heart:hover{
		color:#ef6464
	}
	.redheart{
		color:#ef6464;
	}
</style>
</head>

<body id="blog-article-sidebar">

<!-- nav start -->
{include file="public/nav"}
<!-- nav end -->

<!-- content srart -->
<div id="bigdiv">
		<div class="entry">
			<div style="background: #e1e2e9;">
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong>如果你发现了本站的漏洞&nbsp;<img
							src="__PUBLIC__index/images/hacker.gif" alt="" height="auto"
							original="__PUBLIC__index/images/hacker.gif"
							style="height: auto;">&nbsp; &nbsp;
					</strong></span>
				</p>
				<p style="text-align: center;">
					<br>
				</p>
				<p style="text-align: center;">
					<br>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong>如果你对本站有什么意见或建议
							&nbsp;&nbsp;<img src="__PUBLIC__index/images/yijian.gif"
							alt="" height="auto" style="height: auto;"
							original="__PUBLIC__index/images/yijian.gif">
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<br>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong>如果你有什么比较好的文章
							&nbsp;&nbsp;<img src="__PUBLIC__index/images/page.gif" alt=""
							height="auto" style="height: auto;"
							original="__PUBLIC__index/images/page.gif">
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<br>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong>都可以联系
							&nbsp;</strong></span><span style="font-size: 16px; font-family: NSimSun;"><strong>℡ {$conf.alias}</strong></span>
				</p>
				<p style="text-align: center;">
					<br>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong>邮箱：{$conf.email}
							&nbsp;&nbsp;<img src="__PUBLIC__index/images/mail.gif" alt=""
							height="auto" style="height: auto;"
							original="__PUBLIC__index/images/mail.gif">
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
				<p style="text-align: center;">
					<span style="font-size: 16px; font-family: NSimSun;"><strong><br>
					</strong></span>
				</p>
			</div>
		</div>
		{include file="Message/liuyan"}
	<div id="art">
		<article class="am-g blog-entry-article" id='my-art'>
			<ins id="ins"></ins>
			{volist name="message" id="m"}
			    <div class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img" style="width:98.3%;padding:10px;padding-left:70px;border-bottom:1px dashed #e5e5e5;margin:0 10px;"">
			    	<p id="ator">{$m.userName}</p>
					<img alt="" src="__PUBLIC__index/images/headIMG.jpg" style="margin-left: -50px; position: absolute;">
			        <p id='p-bottom'>{$m.messageContent}</p>
				    <div style="width:25%;color:#888;font-size: 14px;float:right;" class="am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text" id='div-p-content'>
				        <p id='articleContent'><time id="time">{$m.addTime}　</time>
				        	<span>
				        		{if condition="$m['praiseStatus'] eq 1"}
				        			<i class='am-icon-heart redheart' id="heart_{$m.messageId}" onclick="praise({$Request.session.userId} + 0,{$m.messageId})"> </i>
				        		{else /}
				        			<i class='am-icon-heart' id="heart_{$m.messageId}" onclick="praise({$Request.session.userId} + 0,{$m.messageId})"> </i>
				        		{/if}
				        		<num id="num_{$m.messageId}">{$m.praise}</num>
				        	</span>
				        </p>
				    </div>
			    </div>
		    {/volist}
		</article>
	</div>
</div>
<!-- content end -->
{include file="Public/footer"}

<script src="__PUBLIC__index/assets/js/jquery.min.js"></script>
<script src="__PUBLIC__index/assets/js/amazeui.min.js"></script>
<!-- <script src="__PUBLIC__index/assets/js/app.js"></script> -->
   	<script>
   	$(function(){
   		$('#submit').click(function(){
			var content = $('#messageContent').val();
			var art = document.getElementById('ins');
			if(content !== ''){
				$.post('__URL__/add',{'messageContent' : content},function(info){
					var d = JSON.parse(info);
					if(d.code == 1){
						var msgHTML = "<div class='am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-img' style='width:98.3%;padding:2rem 10px 10px 70px;border-bottom:1px dashed #e5e5e5;margin:0 10px;'> <p id='ator'>" + d.mid.userName + "</p> <img alt='' src='__PUBLIC__index/images/headIMG.jpg' style='margin-left: -50px; position: absolute;'> <p id='p-bottom'>" + d.data.messageContent + "</p> <div style='width:25%;color:#888;font-size: 14px;float:right;' class='am-u-lg-6 am-u-md-12 am-u-sm-12 blog-entry-text' id='div-p-content'> <p id='articleContent'><time id='time'>" + d.mid.addTime + "　</time> <span><i class='am-icon-heart' id='heart_" + d.mid.messageId + "' onclick='praise(" + d.data.messageAtor + " + 0," + d.mid.messageId + ")'></i>&nbsp;<num id='num_" + d.mid.messageId + "'>0</num></span> </p> </div> </div>";
						//art.innerHTML += msgHTML;
						art.insertAdjacentHTML("afterEnd",msgHTML);
						$('#messageContent').val('');
					}else{

					}
				});
			}
   		});
   	})
   	</script>

<script>
				 //点赞的用户,留言id
	function praise( pUser , mid ){
		if(pUser !== 0){
			$.post('__URL__/Praise',{'puser' : pUser, 'mid' : mid},function(info){
				var I = JSON.parse(info);
				var pnm = I.pnum;
		        if( I.code == 1 ) {
			        $( "#num_" + mid ).html( pnm );
			    	$( '#heart_' + mid ).css( "color" , "#ef6464" )

		        } else if( I.code == 0 ) {
			        $( "#num_" + mid ).html( pnm );
			    	$( '#heart_' + mid ).css( "color" , "#888888" )
		        }
			});
		}else{
			alert("需要登录后才可以点赞哦！");
		}
	}
</script>
</body>
</html>