<footer class="blog-footer" id="footer">
    <div class="am-g am-g-fixed blog-fixed footer blog-footer-padding" style="width:1000px">
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4" style="width:100%;margin-top:15px;">
            <h3>{$conf.keywords}</h3>
            <p class="am-text-sm">{$conf.description}</p>
        </div>
        <div class="am-u-sm-12 am-u-md-4- am-u-lg-4">
            <!--<p>-->
                <!--<ul style="font-size:20px;">-->
                	<!--<li style="    border-bottom: 1px solid #fff;">指导老师：陈雪冬</li>-->
                	<!--<li style="    border-bottom: 1px solid #fff;">班　主任：母浩</li>-->
                	<!--<li style="    border-bottom: 1px solid #fff;">学生姓名：何坤</li>-->
                	<!--<li style="    border-bottom: 1px solid #fff;">班　　级：15三年PHP一班</li>-->
                <!--</ul>-->
            <!--</p>-->
            <!--<h1>我们站在巨人的肩膀上</h1>-->
        </div>
    </div>
    <br/>
    <div class="blog-text-center">Copyright ©2018 {$conf.url} Powered By
	  	<a href="http://{$conf.url}" target="_blank" title="">{$conf.keywords}</a> Version 1.0.0
	  	<a href="http://www.miitbeian.gov.cn/" target="_blank" title="">{$conf.beian}</a>
  	</div>
 </footer>