<!doctype html>
<html lang="zh-CN">
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>管理用户 - Babysbreath博客管理系统</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/beyond.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__admin/css/style.css">
<link rel="apple-touch-icon-precomposed" href="__PUBLIC__admin/images/icon/icon.png">
<link rel="shortcut icon" href="__PUBLIC__admin/images/icon/favicon.ico">
<script src="__PUBLIC__admin/js/jquery-2.1.4.min.js"></script>
<!--[if gte IE 9]>
  <script src="__PUBLIC__admin/js/jquery-1.11.1.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__admin/js/html5shiv.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__admin/js/respond.min.js" type="text/javascript"></script>
  <script src="__PUBLIC__admin/js/selectivizr-min.js" type="text/javascript"></script>
<![endif]-->
<!--[if lt IE 9]>
  <script>window.location.href='upgrade-browser.html';</script>
<![endif]-->
</head>

<body class="user-select">
<section class="container-fluid">
  {include file="Public/header"}
  <div class="row">
  {include file="Public/aside"}
    <div class="col-sm-9 col-sm-offset-3 col-md-10 col-lg-10 col-md-offset-2 main" id="main">
    <h1 class="page-header">操作</h1>
        <ol class="breadcrumb">
          <li><a data-toggle="modal" data-target="#addUser">增加用户</a></li>
        </ol>
        <h1 class="page-header">管理 <span class="badge">{$Request.session.userCount}</span></h1>
        <div class="table-responsive">
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th width="100"><span class="glyphicon glyphicon-th-large"></span> <span class="visible-lg">ID</span></th>
                <th><span class="glyphicon glyphicon-user"></span> <span class="visible-lg">用户名</span></th>
                <th width="100"><span class="glyphicon glyphicon-pushpin"></span> <span class="visible-lg">文章</span></th>
                <th width="200"><span class="glyphicon glyphicon-time"></span> <span class="visible-lg">上次登录时间</span></th>
				<th class="text-center" style="width:10%;">启用状态</th>
                <th width="180"><span class="glyphicon glyphicon-pencil"></span> <span class="visible-lg">操作</span></th>
              </tr>
            </thead>
            <tbody>
             {volist name="user" id="u"}
              <tr id="user_{$u.userId}">
                <td>{$u.userId}</td>
                <td>{$u.userName}</td><!-- 用户 名    -->
                <td>{$u.userArticles}</td>
                <td>{$u.addTime}</td>
				<td align="center">
                   <label>
                     <input class="checkbox-slider slider-icon colored-blue status" id="status_{$u.userId}" value="{$u.status}" name="status" type="checkbox" {if condition="$u['status'] eq 1"} checked {/if}>
                     <span class="text" id="slider" onClick='status({$u.userId})'></span>
                   </label>
                </td>
                <td><a rel="1" data-toggle="modal" data-target="#seeUser" onClick="upduser({$u.userId})">
	                	<i class="fa fa-edit"></i> 修改　</a>
                    <a rel="1" href="javascript:;" onClick="deluser({$u.userId})">
	                	<i class="fa fa-trash-o"></i> 删除　</a>
                </td>
              </tr>
             {/volist}
             <tr style="background: #eee;"><td colspan="7">{$user->render()}</td></tr>
            </tbody>
          </table>
            <span class="prompt-text"><strong>注：</strong>删除用户（如此用户曾有发布文章和评论,需要将其彻底删除后才能删除此用户）。删除成功后不可还原，请谨慎操作！</span> </div>
        </div>
    </div>
  </div>
</section>
<!--增加用户模态框-->
<div class="modal fade" id="addUser" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel">
  <div class="modal-dialog" role="document" style="max-width:450px;">
    <form action="{:url('Add/addUser')}" method="post" autocomplete="off" draggable="false">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" >增加用户</h4>
        </div>
        <div class="modal-body">
          <table class="table" style="margin-bottom:0px;">
            <thead>
              <tr> </tr>
            </thead>
            <tbody>
              <tr>
                <td wdith="20%">姓名:</td>
                <td width="80%"><input type="text" value="" class="form-control" name="name" maxlength="10" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">用户名:</td>
                <td width="80%"><input type="text" value="" class="form-control" name="userName" maxlength="10" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">电话:</td>
                <td width="80%"><input type="text" value="" class="form-control" id="contactNumber" name="contactNumber" maxlength="11" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">设置密码:</td>
                <td width="80%"><input type="password" class="form-control" name="userPassword" maxlength="18" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">确认密码:</td>
                <td width="80%"><input type="password" class="form-control" name="repeatUserPassword" maxlength="18" autocomplete="off" /></td>
              </tr>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="submit" class="btn btn-primary" id="submit">提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<!--用户信息模态框-->
<div class="modal fade" id="seeUser" tabindex="-1" role="dialog" aria-labelledby="seeUserModalLabel">
  <div class="modal-dialog" role="document" style="max-width:450px;">
    <form action="{:url('User/updateUser')}" id="form-updateuser" method="post" autocomplete="off" draggable="false">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">修改用户</h4>
        </div>
        <div class="modal-body">
          <table class="table" style="margin-bottom:0px;">
            <thead>
              <tr> </tr>
            </thead>
            <tbody>
              <tr>
                <td wdith="20%">姓名:</td>
                <td width="80%"><input type="text" value="" class="form-control" id="up_name" name="name" maxlength="10" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">用户名:</td>
                <td width="80%"><input type="text" value="" class="form-control" id="up_username" name="userName" maxlength="10" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">电话:</td>
                <td width="80%"><input type="text" value="" class="form-control" id="up_contactNumber" name="contactNumber" maxlength="11" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">旧密码:</td>
                <td width="80%"><input type="password" class="form-control" id="oldUserPassword" name="oldUserPassword" maxlength="18" autocomplete="off" placeholder="留空则不修改密码" /></td>
              </tr>
              <tr>
                <td wdith="20%">新密码:</td>
                <td width="80%"><input type="password" class="form-control" id="userPassword" name="userPassword" maxlength="18" autocomplete="off" /></td>
              </tr>
              <tr>
                <td wdith="20%">确认密码:</td>
                <td width="80%"><input type="password" class="form-control" id="repeatUserPassword" name="repeatUserPassword" maxlength="18" autocomplete="off" /></td>
              </tr>
            </tbody>
            <tfoot>
              <tr></tr>
            </tfoot>
          </table>
        </div>
        <div class="modal-footer">
          <input type="text" hidden="" value="" id="up_userid" name="userId" />
          <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
          <button type="button" onclick="upsubmit()" class="btn btn-primary" id="submit" >提交</button>
        </div>
      </div>
    </form>
  </div>
</div>
<div class="modal fade" id="deluser" tabindex="-1" role="dialog" aria-labelledby="userModalLabel" aria-hidden="true">
	<div class="modal-dialog" style="width: 400px;">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" id="closeX" data-dismiss="modal" aria-hidden="true">×
				</button>
				<h4 class="modal-title" id="userModalLabel">
					删除用户
				</h4>
			</div>
			<div class="modal-body" id='delUserBody'>

			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" id="close" data-dismiss="modal" >关闭 </button>
			</div>
		</div><!-- /.modal-content -->
	</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<!--个人信息模态框-->
  {include file="Public/info"}
<!--个人登录记录模态框-->
  {include file="Public/loginRecord"}
<!--微信二维码模态框-->
  {include file="Public/wechat"}
<!--提示模态框-->
  {include file="Public/prompt"}
<!--右键菜单列表-->
<div id="rightClickMenu">
  <ul class="list-group rightClickMenuList">
    <li class="list-group-item disabled">欢迎访问Babysbreath博客</li>
    <li class="list-group-item"><span>IP：</span>172.16.10.129</li>
    <li class="list-group-item"><span>地址：</span>河南省郑州市</li>
    <li class="list-group-item"><span>系统：</span>Windows10 </li>
    <li class="list-group-item"><span>浏览器：</span>Chrome47</li>
  </ul>
</div>
<script src="__PUBLIC__admin/js/bootstrap.min.js"></script>
<script src="__PUBLIC__admin/js/admin-scripts.js"></script>
<script>
function upduser(userId){
	$.get('__URL__/updateUserData',{'userId':userId},function(data){
		var d = JSON.parse(data);
		document.getElementById('up_name').value = d.name;
		document.getElementById('up_userid').value = d.userId;
		document.getElementById('up_username').value = d.userName;
		document.getElementById('up_contactNumber').value = d.contactNumber;
	});
}

function upsubmit(){
	var uUserId = $('#up_userid').val();
	var uName = $('#up_name').val();
	var uUserName = $('#up_username').val();
	var uCttNum = $('#up_contactNumber').val();
	var oUserPwd = $('#oldUserPassword').val();
	var uPwd = $('#userPassword').val();
	var rUserPwd = $('#repeatUserPassword').val();

	if(oUserPwd != '' && uPwd != '' && rUserPwd != '' && uPwd == rUserPwd){
		$.post('__URL__/updateUserData',{'userId':uUserId,'name':uName,'userName':uUserName,'contactNumber':uCttNum,'oldUserPassword':oUserPwd,'userPassword':uPwd,'repeatUserPassword':rUserPwd},function(info){
		var d = JSON.parse(info);
		if(d.code == 1){
			$('#userModalLabel').html('修改用户');
			$('#delUserBody').html(d.message);
			$('#deluser').modal('show');
			$('#seeUser').modal('hide');
			setTimeout("location.reload()",1200);
			}
		});
	}else if(oUserPwd == '' || uPwd == '' && rUserPwd == ''){
		$.post('__URL__/updateUserData',{'userId':uUserId,'name':uName,'userName':uUserName,'contactNumber':uCttNum,'oldUserPassword':0,'userPassword':0,'repeatUserPassword':0},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#userModalLabel').html('修改用户');
				$('#delUserBody').html(d.message);
				$('#deluser').modal('show');
				$('#seeUser').modal('hide');
				setTimeout("location.reload()",1200);
				}
			});
	}else{
   	  alert('密码错误!');
   	  return false;
	}
}


/* $(function(){
	$('#form-updateuser').submit(function(){
		var uSer = $('#up_userid').value();
		//serialize() 方法通过序列化表单值，创建URL 编码文本字符串     $('form-updateuser').serialize
 		$.post('__URL__/updateUserData',{'userId':uSer},function(info){
			var d = JSON.parse(info);
			alert(d);
			if(d.code == 1){
				$('#userModalLabel').html('修改用户');
				$('#delUserBody').html(d.message);
				$('#deluser').modal('show');
			}
		});
	})
}) */  //接受不到返回的数据

$(function(){
/* js验证手机号码  */
   $("#submit").click(function(){
		var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
		//电话
		var phone = $.trim($('#contactNumber').val());
		if (!phoneReg.test(phone)) {
		  alert('请输入有效的手机号码！');
		  return false;
		} // 添加用户

		var uPhone = $.trim($('#up_contactNumber').val());
		if (!phoneReg.test(uPhone)) {
		  alert('请输入有效的手机号码！');
		  return false;
		} // 修改用户
   });
})


function deluser(userId){
	var c = confirm("确定要删除此用户吗?");
	if(c == true){
		//老师说：在用异步请求（__URL__/deluser）的时候先用同步（http://localhost/……）请求，异步请求报错只会报服务器的错误，，找不到错误
		$.post('__URL__/deluser',{'userId':userId},function(data){
			var d = JSON.parse(data);
			if(d.code == 1){
				$('#userModalLabel').html('删除用户');
				$('#delUserBody').html(d.message);
				$('#deluser').modal('show');
				$('#user_'+userId).remove();
			}else{
				$('#userModalLabel').html('删除用户');
				$('#delUserBody').html(d.message);
				$('#deluser').modal('show');
			}
		});
	    return false;
	}
}

function status(userId){
	var sTatus = document.getElementById("status_"+userId).value;
	$.post('__URL__/statusUser' ,{'userId':userId,'status':sTatus},function(info){
		var d = JSON.parse(info);//解析
		if(sTatus == 1){
			//alert(d.message);
			document.getElementById("status_"+userId).value = d.message;
		}else if(sTatus == 0){
			//alert(d.message);
			document.getElementById("status_"+userId).value = d.message;
		}else{
			alert(d.message);
		}
		//location.reload();
	});
}
</script>
<script>
function loginInfo(aid){
	$.get('__URL__/info',{'adminId':aid},function(data){
		var d = JSON.parse(data);
		document.getElementById('adminId').value = aid;
		document.getElementById('adminName').value = d.adminName;
		document.getElementById('loginName').value = d.loginName;
		document.getElementById('infoContactNumber').value = d.contactNumber;
	});
}

function submitInfo(){
	var aAdmId = $('#adminId').val();
	var aAdmName = $('#adminName').val();
	var aLogName = $('#loginName').val();
	var aCttNum = $('#infoContactNumber').val();
	var aAdmPwd = $('#oldPassword').val();
	var aLogPwd = $('#loginPassword').val();
	var aNewPwd = $('#newPassword').val();

	var phoneReg = /(^1[3|4|5|7|8]\d{9}$)|(^09\d{8}$)/;
	//电话
	var phone = $.trim(aCttNum);
	if (!phoneReg.test(phone)) {
	  alert('请输入有效的手机号码！');
	  return false;
	}

	if(aAdmPwd != '' && aLogPwd != '' && aNewPwd != '' && aLogPwd == aNewPwd){
		$.post('__URL__/info',{'adminId':aAdmId,'adminName':aAdmName,'loginName':aLogName,'contactNumber':aCttNum,'oldPassword':aAdmPwd,'loginPassword':aLogPwd,'newPassword':aNewPwd},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#adminModalLabel').html('信息提示');
				$('#upAdminBody').html(d.message);
				$('#upadmin').modal('show');
				$('#seeUserInfo').modal('hide');
				setTimeout('location.href = "{:url(\'admin/Login/login\')}";',2000);
			}
		});
	}else if(aAdmPwd == '' || aLogPwd == '' && aNewPwd == ''){
		$.post('__URL__/info',{'adminId':aAdmId,'adminName':aAdmName,'loginName':aLogName,'contactNumber':aCttNum,'oldPassword':0,'loginPassword':0,'newPassword':0},function(info){
			var d = JSON.parse(info);
			if(d.code == 1){
				$('#adminModalLabel').html('信息提示');
				$('#upAdminBody').html(d.message);
				$('#upadmin').modal('show');
				$('#seeUserInfo').modal('hide');
				setTimeout('location.href = "{:url(\'admin/Login/login\')}";',2000);
			}
		});
	}else{
   	  alert('密码错误!');
   	  return false;
	}
}
</script>
</body>
</html>
